.button1{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color:cadetblue;
}
.button2{
    color: white;
    width: auto;
    height: auto;
}
.menu-item {
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    height: 1.75rem;
    margin-right: 0.25rem;
    padding: 0.25rem;
    width: 1.75rem;
  
    svg {
      fill: currentColor;
      height: 100%;
      width: 100%;
    }
  
    &:hover,
    &.is-active {
      background-color: #303030;
    }
  }