$gradient-color-start: #88C2FD; 
$gradient-color-end: #DBB9FC;
$cursor-color: #ffffff;

@mixin gradient-text {
    font-weight: bold;
    background: linear-gradient(to right, $gradient-color-start, $gradient-color-end);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.tiptap {
    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
      
    }
    strong {
        @include gradient-text;
      }
      
    h1{
        margin: 0px 0px;
        border-bottom: 2px solid #E05091;
        
    }
    h2{
        text-decoration: underline;
    }
  
    code {
      background-color: rgba(#191621, 0.1);
      color: #616161;
      
    }
    p {
      font-size: medium;  
    }&::selection {
        background-color: $cursor-color;
        caret-color: $cursor-color;
      }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      border-left: 1px solid #0FAFCE;
      margin: 0 1em;
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    ul{
        list-style: none;
        
    }
    li {
        white-space: nowrap;
        margin-right: 0.43em; 
        display: flex;
        align-items: center;
      }

    li::before {
        content: ""; 
        display: inline-block; 
        margin-right: 0.43em; 
        width: 5px; 
        height: 5px; 
        background: linear-gradient(to right, #7AA2F7, #D4BAFC); 
        border-radius: 50%;        
      }

    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#595858, 0.1);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
    
  } 
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.3em;
    margin: 1em;
    overflow-x: scroll;
    scroll-behavior: smooth;
}